# ----------------------------------
# Assets (assets/) Rules
# ----------------------------------

# assets/**/[File Pattern]

# ----------------------------------
# Infrastructure (infrastructure/) Rules
# ----------------------------------

# infrastructure/**/[File Pattern]

# ----------------------------------
# Platform (platform/) Rules
# ----------------------------------

# platform/**/[File Pattern]

# ----------------------------------
# Global Mono Repo Rules
# ----------------------------------

### VS Code Workspace ###
.history
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### General Artifact Folders ###
dist
dist-ssr
build
*.local
temp
.cache

### General Node.js ###
node_modules

# Only PNPM
package-lock.json
npm-shrinkwrap.json
yarn.lock

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

### Other System & IDE Files ###
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System Files
.DS_Store
Thumbs.db