### VS Code Workspace ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VS Code ###
# Ignore all local history of files
**/.history

# No NPM
package-lock.json

# Global Build Artifacts
node_modules

# System Files
.DS_Store
Thumbs.db