{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": false,
  "printWidth": 80,
  "bracketSameLine": false,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "assets",
    "(@g/.*|^)assets/(.*)$",

    "apps",
    "(@.*|^)apps/(.*)$",

    "^react",

    "<THIRD_PARTY_MODULES>",

    "views",
    "(@.*|^)views/(.*)$",

    "(@.*|^)ui/shell(.*)$",

    "(@.*|^)ui/layout(.*)$",

    "(@.*|^)ui/components(.*)$",

    "ui",
    "(@.*|^)ui/(.*)$",

    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
